#sx-classes-ajaxLoader-1 {
    background: url('../images/1.gif');
    width: 89px;
    height: 89px;
}

#sx-classes-ajaxLoader-2 {
    background: url('../images/2.gif');
    width: 89px;
    height: 89px;
}